(
    home: (
        title: "Destination Spa",
        subtitle: "Institut de beauté - Spa à Beautiran",
        note: Some("`Fêtes des mères`Offrez un billet cadeau"),
    ),

    introduction: (
        title: "L'institut",
        text: r#"

Marine, esthéticienne et créatrice de Destination Spa. 
Après plusieurs expériences en tant que spa praticienne et esthéticienne, l'idée de créer de un centre de beauté ou 
le bien-être est au centre des prioritées, sans injonctions et que toutes personnes puissent repartir avec le sourire
à vu le jour en décembre 2022 à Beautiran.

Destination Spa est un institut de beauté et Spa proposant  des moment de détentes au hammam, des voyages de 30 minutes à 1 heure 45
avec diférentes destinations comme l'Inde, la Polynésie, L'afrique, l'Amazonie et l'Orient. 
Egalement des soins esthétiques comme des soins du visage bio spécialisés dans le veillisement cutanés, des épilations et des soins enfants et adolescents.

"#,

        images: [
            ("marine.jpg", "esthéticienne"),
            ("Logolotus.png", "Destination Spa"),
            ("accueil.jpeg", "accueil"),
            ("cabinedesoin.png", "cabine de soin"),
        ],
    ),

    infos: (
        title: "Horaires & Contacts",

        hours: (
            monday:    (None, None),
            tuesday:   (Some((09,30, 99,99)), Some((99,99, 19,00))),
            wednesday: (Some((09,30, 99,99)), Some((99,99, 19,00))),
            thursday:  (Some((09,30, 99,99)), Some((99,99, 19,00))),
            friday:    (Some((09,30, 99,99)), Some((99,99, 19,00))),
            saturday:  (Some((09,30, 99,99)), Some((99,99, 17,00))),
            sunday:    (None, None),
        ),

        contacts: (
            phone: "+33 5 57 54 87 23",
            email: "destinationspa.beautiran@gmail.com",

            location: (
                address: "62 route nationale 113",
                postcode: "33640",
                city: "BEAUTIRAN",

                latitude: "44.700089783530224",
                longitude: "-0.4500258189318575",
                query: ["destination", "spa", "beautiran", "france"],
            ),

            socials: (
                facebook: Some("https://www.facebook.com/DestinationSpa.InstitutdeBeaute"),
                instagram: Some("https://www.instagram.com/destinationspa33/"),
            ),
        ),
    ),

    benefits: (
        title: "Les Soins",

        categories: [
            (
                title: "Soin du visage Bio",
                image: Some(("Soinduvisage/catégoriesoinvisage.png", "soin du visage")),

                description: r#"

Soin du visage bio, Spécialisés en anti-age ave la marque Ekia. 
Pesonalisables car aucune autre peau ressemble à la votre.

"#,

                benefits: [
                    (
                        title: "Soin Aboslu 1h10",
                        image: Some(("Soinduvisage/soinabsolu.jpg", "soin visage absolu Ekia")),

                        price: (89,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: r#"A chaque début de soin, un daignostic d peau est réalsé afin d'établir le soin le plus adapté à votre peau
- Le stimulant : Peau déshydratée, rides d'expression peu marquées, manque déclat
- Le Réparateur : Peau déshydratée avec zones de sécheresse, taches pigmentaires, rides de structures marquées.
- Le revitalisant : Peau déshydradtée et trés sèche, taches pigmentaires, perte de tonicité, peau fine."#,
                    ),
                    (
                        title: "Soin primordial 1h",
                        image: Some(("Soinduvisage/soinprimordiale.jpeg", "Soin primodiale Ekia")),

                        price: (79,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Peau fatiguée, manque d'éclat, prmeières rides",
                    ),

                    (
                        title: "Soin Détox 50min",
                        image: Some(("Soinduvisage/soindetox", "soin detox Ekia")),

                        price: (59,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Peau inflammée avec imperfections, pores obstrués, marques de fatigue",
                    ),

                    (
                        title: "Massage traditionnel Indien du visage 30min",
                        image: Some(("Soinduvisage/Soinduvisage.jpeg", "Massage indien")),

                        price: (39,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Massage ancestral venant du Kerala. Des techniques anti-âge au massage cranien, il permet d'évacuer la fatigue et de lâcher prise",
                    ),
                    (
                        title: "Soin du regard flash 15 min",
                        image: Some(("Soinduvisage/soinregardflash.jpeg", "Soin regard flah")),

                        price: (15,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Un soin flash qui ilumine, apaise et rafraichit le contour de l'oeil en 15 minutes. Ce soin peut être réalisé
                        pendant une épilation ou un soin du corps",
                    )
                

                ]
            ),

            (
                title: "Rituels corps",
                image: Some(("Rituelcorps/rituelscorps.png", "catégorie soin corps")),

                description: r#"

Découvrez les differentes destinations de nos soins corps.

"#,

                benefits: [
                    (
                        title: "Rite du Hammam 1h30",
                        image: Some(("Rituelcorps/Riteduhammam .jpg", "Rite du Hammam Equatoria")),

                        price: (100,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Exfoliation traditionnelle au savon nor avec gant de kessa et un modelage oriental à l'huile d'argan.",
                    ),
                    (
                        title: "Rituel Sabi Sabi en terre d'Afrique Bio 1h45",
                        image: Some(("Rituelcorps/ritesabisabi.jpeg", "Afrique")),

                        price: (115,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Gommage aux graines de baobab, enveloppement aux huiles essentielles et modelage sabi sabi Africain.",
                    ),
                    (
                        title: "Croisisère bien-être en Polynésie 1h45",
                        image: Some(("Rituelcorps/Croisiereenpolynesie.jpg", "Polynésie")),

                        price: (115,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Gommage au sable fin de Bora bora, enveloppement maori au beurre de mangue et modelage Polynésien.",
                    ),
                    (
                        title: "Rite holistic en Amazonie 1h45",
                        image: Some(("Rituelcorps/riteenAmazonie.jpg", "Amazonie")),

                        price: (115,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Gommage à la cassonade aux noix du Brésil, enveloppement anti-stress à l'acérola et modelage au bambou.",
                    ),
                    (
                        title: "Hammam 30min",
                        image: Some(("Rituelcorps/hammam.PNG", "Hammam")),

                        price: (30,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Profiter des bien faits de la vapeur associé l'aromathérapie.",
                    )
                ]

            ),
            (
                title: "Modelages",
                image: Some(("Modelage/odelagecatégorie.jpg", "catégorie modelage")),

                description: r#"

Découvrez les differentes modelges corps et ou visage.

"#,

                benefits: [
                    (
                        title: "Tour du monde en 90 minutes",
                        image: Some(("Modelage/tourdumondeen90min.jpg", "Tour du monde en 90 min")),

                        price: (109,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage signature corps et visage, alliant plusieurs techniques de modelage du monde.",
                    ),
                    (
                        title: "Modelage Polynésien 60 min",
                        image: Some(("Modelage/modelagepolynésien.jpg", "Modelage Lomi Lomi")),

                        price: (75,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage relaxant, enveloppant suivant le rythme des vagues.",
                    ),
                    (
                        title: "Modelage oriental 60 min",
                        image: Some(("Modelage/modelageoriental.jpg", "Modelage oriental")),

                        price: (75,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage vivifiant dont les mouvements sont inspirés de la danse orientale",
                    ),
                    (
                        title: "Modelage Africain 60 min",
                        image: Some(("Modelage/modelagesabisabi.jpeg", "Modelage sabi Sabi")),

                        price: (75,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Détends les muscles et les tensions pour alleger le corps et l'esprit.",
                    ),
                    (
                        title: "Modelage holistic au bambou 60 min",
                        image: Some(("Modelage/massagebambou.jpg", "Modelage Holistic bambou")),

                        price: (78,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage déonractat, défatiguant qui disout les tensions physiques.",
                    ),
                    (
                        title: "Escale Bien-être 30 min",
                        image: Some(("Modelage/escalebienetre.jpg", "Escale bien etre")),

                        price: (39,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage signature du dos.",
                    ),
                    (
                        title: "Massage Traditionnel Indien du Visage 30 min",
                        image: Some(("Modelage/massageindien.jpg", "Masage Trad. Indien du visage")),

                        price: (39,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Massage ancestral venant du Kerala. Des techniques anti-âge au massage cranien, il permet d'évacuer la fatigue et de lâcher prise.",
                    )
                ]
            ),
            (
                title: "Soins Enfants et Adolescents",
                image: Some(("Soinenfantado/catégoriessoinenfant.png", "Visage enfant")),

                description: r#"

Tout les soins adaptés pour les peaux jeunes et sensible des enfants, à partir de 6 ans.

"#,

                benefits: [
                    (
                        title: "Ma mini escale bien être 20 min",
                        image: Some(("Soinenfantado/mniescalebienetre.jpg", "Bougie spa")),

                        price: (28,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Modelage en douceur du dos, pour les enfants à partir de 6 ans.",
                    ),
                    (
                        title: "Soin du dos anti-stress 60 min",
                        image: Some(("Soinenfantado/soindudos.jpg", "Fleur de frangipanier rose et blanches")),

                        price: (60,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Soin du dos recommandé à partir de 12 ans, ce soin permet de détoxfié la peau en douceur avec un gommage et
                        un enveloppement doux adapté à votre peau. Le soin se termne par un modelage du dos relaxant idéale lors pérode stressante 
                        comme les examens ou le passage en classe supérieure. Ce soin est également adapté pour les pré-adultes, qui passe leurs derniers
                        dîplome avant de rentré dans la vie active.",
                    ),
                    (
                        title: "Soin du visage Détox 50 min",
                        image: Some(("Soinenfantado/detox2.jpg", "Soin detox visage jeune Ekia")),

                        price: (59,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Soin détoxfiant pour retrouver un grain de peau plus lisse et des imperfections atténués. Nettoyage de peau en douceur
                        Dès 12 ans.",
                    )
                ]
            ),
              (
                title: "Les épilations",
                image: Some(("catéorieepilation.png", "Epilation cire avec bande")),

                description: r#"

Découvrez nos épilation réalisé avec de la cire à la résine de pins et au beurre de karité pour les peaux sensibles.

"#,

                benefits: [
                    (
                        title: "Sourcils entretien",
                        image: None,

                        price: (9,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Sourcils création de ligne",
                        image: None,

                        price: (15,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "Après avoir pris les mesures de vos sourcils, nous venons épiler à la cire et à la pince les sourcils pur leurs
                        redonner une ligne. Cette prestation permet d'embellir le regard et de corriger l'asymetrie de vos sourcils.",
                    ),
                    (
                        title: "Lèvres supérieur",
                        image: None,

                        price: (9,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Visage",
                        image: None,

                        price: (20,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Aisselles",
                        image: None,

                        price: (13,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "1/2 jambes",
                        image: None,

                        price: (20,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Jambes entières",
                        image: None,

                        price: (30,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Maillot Classique",
                        image: None,

                        price: (16,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Maillot échancré/ brésilien",
                        image: None,

                        price: (20,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Maillot Semi-intégral / intégral",
                        image: None,

                        price: (32,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Bras",
                        image: None,

                        price: (20,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Dos ou Torse",
                        image: None,

                        price: (32,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Forfait : Sourcils + Lèvres",
                        image: None,

                        price: (15,00),
                        book: "https://booking.wavy.pro/destinationspa",
                        description: "",
                    ),
                    (
                        title: "Forfait : 1/2 jambes + maillot + aisselles",
                        image: None,

                        price: (38,00),
                        book: "https://booking.wavy.pro/destinationspa",

                        description: "Suplément maillot échancré/bresilien +10€
                        Suplément maillot semi-intégral/intégral +15€",
                    ),
                    (
                        title: "Forfait : Jambes entières + maillot + aisselles",
                        image: None,

                        price: (47,00),
                        book: "https://booking.wavy.pro/destinationspa",

                        description: "Suplément maillot échancré/bresilien +10€
                        Suplément maillot semi-intégral/intégral +15€",
                    )
                ]
            )
        ]
    )
)
