* {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
}

img {
    height: 100px;
}

































@font-face {
    font-family: main;
    src: url(../font/fengardoneue_regular-webfont.woff);
}

html {
    height: 100%;
}

body {
    --l0: rgb(260, 260, 240);
    --l1: rgb(258, 255, 230);
    --l2: rgb(256, 250, 220);
    --l3: rgb(254, 245, 210);
    --l4: rgb(252, 240, 200);
    --l5: rgb(250, 235, 190);
    --l6: rgb(248, 230, 180);
    --l7: rgb(246, 225, 170);
    --l8: rgb(244, 220, 160);
    --l9: rgb(242, 215, 150);
    --la: rgb(240, 210, 140);
    --lb: rgb(238, 205, 130);
    --lc: rgb(236, 200, 120);
    --ld: rgb(234, 195, 110);
    --le: rgb(232, 190, 100);
    --lf: rgb(230, 185, 090);

    --d0: rgb(060, 030, 000);
    --d1: rgb(070, 035, 002);
    --d2: rgb(080, 040, 004);
    --d3: rgb(090, 045, 006);
    --d4: rgb(100, 050, 008);
    --d5: rgb(110, 055, 010);
    --d6: rgb(120, 060, 012);
    --d7: rgb(130, 065, 014);
    --d8: rgb(140, 070, 016);
    --d9: rgb(150, 075, 018);
    --da: rgb(160, 080, 020);
    --db: rgb(170, 085, 022);
    --dc: rgb(180, 090, 024);
    --dd: rgb(190, 095, 026);
    --de: rgb(200, 100, 028);
    --df: rgb(210, 105, 030);

    align-items: stretch;
    background-color: var(--l0);
    color: var(--d0);
    display: flex;
    font-family: main, sans;
    height: 100%;
}

header, main {
    flex: 1;
    display: flex;
    align-items: center;
}

header > div, main > div {
    flex: 1;
}

header {
    padding-right: 1cm;
    text-align: right;
}

header > div > h1 {
    font-size: 444%;
    color: var(--d0);
}

header > div > h2 {
    font-size: 222%;
    margin-top: 0.1cm;
    color: var(--d5);
}

header > div > .note {
    background-color: var(--d4);
    color: var(--l6);
    display: inline-block;
    font-family: mono;
    margin-top: 0.5cm;
    padding: 5px 10px;
    text-align: center;
}

header > div > .note code {
    font-weight: bold;
    text-shadow: 0 0 15px var(--l9);
}

main {
    padding-left: 1cm;
    text-align: left;

    background-color: var(--l1);
    color: var(--d4);
    box-shadow: 0 0 6cm var(--l4);
}

main > div > section h3 {
    margin-bottom: 1cm;
}

main > div > section:last-child h3 {
    margin-bottom: 0;
}
































em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

section > :not(:first-child,:target), .back {
    display: none;
}

section:target > * {
    display: initial;
}

section:target .back {
    display: inline-block;
}

section:target {
    background-color: var(--l0);
    color: var(--d0);

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.back {
    border: 4px solid var(--lf);
    color: var(--lf);

    font-weight: normal;
    font-size: 125%;

    margin: 50px;
    margin-right: 70px;
    margin-left: 0;

    width: 50px;
    line-height: 50px;
    border-radius: 100cm;
    text-align: center;

    vertical-align: middle;
}

.back:hover {
    border-color: var(--de);
    color: var(--de);
}

section:target > a, section:target > a {
    display: block;
    text-align: center;

    margin-bottom: 1.5cm;

    background-color: var(--l1);
    color: var(--d4);
    box-shadow: 0 0 3cm var(--l3);
}

h3, h4 {
    font-size: 222%;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover > h3 > span, a:hover > h4 > span {
    border-bottom: 4px solid var(--lf);
}

section:target > a > h3, section:target > a > h4 {
    display: inline-block;
    margin: 0;
}

section:target > a > h3 > span, section:target > a > h4 > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
    border-bottom: 4px solid var(--lf);
}

#introduction:target > div {
    display: block;
    max-width: 40cm;
    margin: auto;
}

#introduction:target .left {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 40%;
}

#introduction:target .right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

#introduction:target .right > p {
    text-align: justify;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 0.5cm;
    font-size: 150%;
}

#introduction:target img {
    object-fit: cover;
    width: 5.2cm;
    height: 5.2cm;

    border-radius: 0.6cm;
    box-shadow: 0 0 25px var(--l5);
}

#introduction:target figure {
    margin: 1cm;
    margin-top: 0;
    margin-right: 0;

    display: inline-block;
    text-align: center;
}

#introduction:target figure figcaption {
    padding-top: 6px;
    text-align: center;
    color: var(--da);
    font-weight: bold;
    font-size: 110%;
}
































#infos:target > div {
    display: block;
    margin: auto;
    max-width: 30cm;
}

#infos:target .left {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

#infos:target .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

#infos:target .right > * {
    margin-left: 1cm;
}

table {
    font-size: 130%;
    text-align: right;
}

tbody {
    display: inline-block;
    margin-right: 1cm;


    box-shadow: 0 0 2cm var(--l3);
    background-color: var(--l1);

    padding-left: 0.8cm;
    padding-top: 0.55cm;

    border-radius: 0.6cm;
}

td, th {
    padding-right: 0.95cm;
    padding-bottom: 0.55cm;
}

td {
    color: var(--d6);
    text-align: left;
}

th {
    font-weight: bold;
    text-align: right;
}

tr:first-child th {
    text-align: left;
}

td span {
    color: var(--df);
}

address li {
    margin-bottom: 0.6cm;
    font-weight: bold;
    font-size: 140%;
}

.socials li {
    display: inline-block;
    margin-right: 0.6cm;
}

.socials img {
    background-color: var(--l1);
    box-shadow: 0 0 1cm var(--l4);
    border-radius: 100cm;
    height: 1.6cm;
}

























#benefits:target {
    text-align: center;
}

#benefits:target > section {
    text-align: left;
    display: inline-block;
    vertical-align: top;

    width: 15.5cm;
    height: 5cm;

    margin: 1cm;

    box-shadow: 0 0 40px var(--l3);
    background-color: var(--l1);

    border-radius: 0.6cm;
}

#benefits:target > section .back {
    display: none;
}

#benefits:target > section > .row:first-child {
    display: flex;
    width: 100%;
    height: 100%;
}

#benefits:target > section > .row:first-child > figure > img {
    object-fit: cover;
    width: 5cm;
    height: 5cm;

    border-radius: 0.6cm;
    box-shadow: 0 0 40px var(--l3);
}

#benefits:target > section > .row:first-child > div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#benefits:target > section > .row:first-child > div > p {
    font-size: 121%;
    text-align: justify;
}



