/*****************************************
******************************************
****************************************** FONT
******************************************
*****************************************/

@font-face {
  unicode-range: U+20-5F, U+61-7A, U+7C, U+A0, U+A7, U+A9, U+AB, U+B2-B3, U+BB,
    U+C0, U+C2, U+C6-CB, U+CE-CF, U+D4, U+D9, U+DB-DC, U+E0, U+E2, U+E6-EB,
    U+EE-EF, U+F4, U+F9, U+FB-FC, U+FF, U+152-153, U+178, U+2B3, U+2E2,
    U+1D48-1D49, U+2010-2011, U+2013-2014, U+2019, U+201C-201D, U+2020-2021,
    U+2026, U+202F-2030, U+20AC, U+2212;

  font-family: main;
  font-display: swap;
  src: url("../font/fengardoneue_regular-webfont.woff") format("woff");
}

/*****************************************
******************************************
****************************************** RESET
******************************************
*****************************************/

* {
  color: inherit;
  font-family: main, sans-serif;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

/*****************************************
******************************************
****************************************** COLORS
******************************************
*****************************************/

body {
  --l0: rgb(260, 260, 240);
  --l1: rgb(258, 255, 230);
  --l2: rgb(256, 250, 220);
  --l3: rgb(254, 245, 210);
  --l4: rgb(252, 240, 200);
  --l5: rgb(250, 235, 190);
  --l6: rgb(248, 230, 180);
  --l7: rgb(246, 225, 170);
  --l8: rgb(244, 220, 160);
  --l9: rgb(242, 215, 150);
  --la: rgb(240, 210, 140);
  --lb: rgb(238, 205, 130);
  --lc: rgb(236, 200, 120);
  --ld: rgb(234, 195, 110);
  --le: rgb(232, 190, 100);
  --lf: rgb(230, 185, 090);
  --lg: rgb(228, 180, 080);
  --lh: rgb(226, 175, 070);
  --li: rgb(224, 170, 060);
  --lj: rgb(222, 165, 050);
  --lk: rgb(220, 160, 040);
  --ll: rgb(218, 155, 030);
  --lm: rgb(216, 150, 020);
  --ln: rgb(214, 145, 010);
  --lo: rgb(212, 140, 000);

  --d0: rgb(060, 030, 000);
  --d1: rgb(070, 035, 002);
  --d2: rgb(080, 040, 004);
  --d3: rgb(090, 045, 006);
  --d4: rgb(100, 050, 008);
  --d5: rgb(110, 055, 010);
  --d6: rgb(120, 060, 012);
  --d7: rgb(130, 065, 014);
  --d8: rgb(140, 070, 016);
  --d9: rgb(150, 075, 018);
  --da: rgb(160, 080, 020);
  --db: rgb(170, 085, 022);
  --dc: rgb(180, 090, 024);
  --dd: rgb(190, 095, 026);
  --de: rgb(200, 100, 028);
  --df: rgb(210, 105, 030);
}

/*****************************************
******************************************
****************************************** HOME
******************************************
*****************************************/

html,
body {
  height: 100%;
  min-width: 80mm;
  overflow: hidden;
}

body > div {
  height: 100%;
  overflow: scroll;

  align-items: stretch;
  background-color: var(--l0);
  color: var(--d0);
  display: flex;
  flex-wrap: wrap;
}

header,
main {
  flex: 1;
  display: flex;
  min-width: 12cm;
  align-items: center;
  padding: 1.25cm 0;
}

header > div,
main > div {
  flex: 1;
}

header {
  padding-right: 1cm;
  text-align: right;
}

header > div > h1 {
  font-size: 410%;
  color: var(--d0);
}

header > div > h2 {
  font-size: 170%;
  margin-top: 0.3cm;
  color: var(--d5);
}

header > div > .note {
  font-size: 110%;
  background-color: var(--d4);
  color: var(--l6);
  display: inline-block;
  margin-top: 0.8cm;
  padding: 8px 16px;
  border-radius: 0.6cm;
  text-align: center;
}

header > div > .note code {
  font-weight: bold;
  text-shadow: 0 0 10px var(--l2);
}

main {
  padding-left: 1cm;
  text-align: left;
  background-color: var(--l1);
  color: var(--d4);
  box-shadow: 0 0 7cm var(--l9);
  border-radius: 0.6cm 0 0 0.6cm;
}

main > div > section h3 {
  margin-bottom: 1.5cm;
}

main > div > section:last-child h3 {
  margin-bottom: 0;
}

@media (max-width: 26cm) {
  header,
  main {
    text-align: center;
    padding: 1.25cm 0.5cm;
  }

  main {
    border-radius: 0.6cm 0.6cm 0 0;
  }
}

/*****************************************
******************************************
****************************************** INTRODUCTION
******************************************
*****************************************/

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

section > :not(:first-child, :target),
.back {
  display: none;
}

section:target > * {
  display: initial;
}

section:target .back {
  display: inline-block;
  border-bottom: none;
  margin-left: -100.25cm;
}

section:target {
  background-color: var(--l0);
  color: var(--d0);

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: scroll;

  box-sizing: border-box;
  padding-bottom: 0.65cm;
}

.back > span {
  display: block;

  margin: 1.6cm;
  margin-right: 1.2cm;
  margin-left: 100cm;

  border-radius: 100cm;
  vertical-align: middle;

  width: 50px;
  height: 50px;
  background-size: 50px;
  background-image: url("../images/vector/back.svg");
  border: 4px solid var(--lf);
}

.back:hover > span {
  background-image: url("../images/vector/back.hover.svg");
  border-color: var(--de);
}

section:target > a {
  display: block;
  text-align: center;

  margin-bottom: 0.65cm;

  background-color: var(--l1);
  color: var(--d4);
  box-shadow: 0 0 4cm var(--l6);
  border-radius: 0 0 0.6cm 0.6cm;
}

h3,
h4 {
  font-size: 165%;
  font-weight: bold;
  text-transform: uppercase;
}

section:target h3,
section:target h4 {
  text-align: left;
}

a:hover h3 > span,
a:hover h4 > span {
  border-bottom: 4px solid var(--lf);
}

section:target > a h3,
section:target > a h4 {
  display: inline-block;
  margin: 0;
}

section:target > a h3 > span,
section:target > a h4 > span {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 4px solid var(--lf);
}

#introduction:target {
  text-align: center;
}

#introduction:target .left,
#introduction:target .right {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 12.7cm;
  margin: 0.65cm;
}

#introduction:target .right > p {
  font-size: 142%;
  text-align: left;
  margin-bottom: 0.5cm;
}

#introduction:target .right > p:last-child {
  margin-bottom: 0;
}

#introduction:target .left {
  border-radius: 0.6cm;
  overflow: hidden;
  text-align: left;
}

#introduction:target img,
#introduction:target figure {
  width: 6.2249cm;
  height: 6.2249cm;
}

#introduction:target img {
  object-fit: cover;
}

#introduction:target figure {
  display: inline-block;
  vertical-align: top;

  margin-top: 0.25cm;
}

#introduction:target figure:nth-child(1),
#introduction:target figure:nth-child(2) {
  margin-top: 0;
}

#introduction:target figure:nth-child(odd) {
  margin-right: 0.25cm;
}

/*****************************************
******************************************
****************************************** INFOS
******************************************
*****************************************/

#infos:target {
  text-align: center;
}

#infos:target table,
#infos:target address {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 12.7cm;
  margin: 0.65cm;
}

table {
  font-size: 140%;
  text-align: right;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 2cm var(--l7);
  background-color: var(--l2);

  padding-left: 0.8cm;
  padding-top: 0.55cm;

  border-radius: 0.6cm;
}

tr {
  width: 8.9cm;
}

td,
th {
  padding-right: 0.95cm;
  padding-bottom: 0.35cm;
}

td {
  color: var(--d6);
  text-align: left;
}

th {
  width: 2.8cm;
  font-size: 90%;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

td span {
  color: var(--df);
}

address {
  border-radius: 0.6cm;
  box-shadow: 0 0 30px var(--l5);
  padding: 20px 0;
  background-color: var(--l1);
  text-align: center;
}

address > ul > li {
  margin-bottom: 0.6cm;
  font-size: 160%;
}

address > ul > li:last-child {
  margin-bottom: 0;
}

address a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--lk);
}

address a:hover {
  text-decoration-style: solid;
  text-decoration-color: var(--la);
}

.socials li {
  display: inline-block;
  margin-right: 0.6cm;
}

.socials li:last-child {
  margin-right: 0;
}

.socials img {
  background-color: var(--l1);
  box-shadow: 0 0 1cm var(--l7);
  border-radius: 100cm;
}

.socials a:hover img {
  background-color: var(--l2);
  box-shadow: 0 0 1cm var(--la);
}

.socials,
.socials li,
.socials img {
  height: 1.6cm;
}

/*****************************************
******************************************
****************************************** BENEFITS
******************************************
*****************************************/

#benefits:target {
  text-align: center;
}

#benefits:target > br {
  display: initial;
}

#benefits:target > section h4 {
  line-height: 140%;
}

#benefits:target > section {
  text-align: left;
  display: inline-block;
  vertical-align: top;

  width: 12.7cm;
  height: 6cm;

  margin: 0.65cm;

  box-shadow: 0 0 40px var(--l6);
  background-color: var(--l1);

  border-radius: 0.6cm;
}

#benefits:target > section .back {
  display: none;
}

#benefits:target > section > .row:first-child {
  display: flex;
  width: 100%;
  height: 100%;
}

#benefits:target > section > .row:first-child > figure > img {
  object-fit: cover;
  width: 6cm;
  height: 6cm;

  border-radius: 0.6cm;
  box-shadow: 0 0 40px var(--l6);
}

#benefits:target > section > .row:first-child > div {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#benefits:target > section > .row:first-child > div > p {
  margin-top: 8px;
  font-size: 105%;
}

/*****************************************
******************************************
****************************************** CATEGORY
******************************************
*****************************************/

[id^="category-"]:target > a:first-child figure {
  display: none;
}

[id^="category-"]:target > a:first-child p {
  display: none;
}

[id^="category-"]:target {
  text-align: center;
}

[id^="category-"]:target > br {
  display: initial;
}

[id^="category-"]:not(:target) div.row {
  display: none;
}

div.row {
  display: inline-flex;
  width: 12.7cm;
  height: 6cm;

  margin: 0.65cm;
  text-align: left;

  border-radius: 0.6cm;
  box-shadow: 0 0 40px var(--l6);
}

div.row figure {
  width: 6cm;
  height: 6cm;
  z-index: 3;
}

div.row img {
  object-fit: cover;
  width: 6cm;
  height: 6cm;

  border-radius: 0.6cm;
  box-shadow: 0 0 40px var(--l6);
}

div.row > div {
  display: flex;
  flex-direction: column;
  flex: auto;
}

div.row h5 {
  font-size: 120%;
  font-weight: bold;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

div.row h5 code {
  font-size: 90%;
  font-family: monospace;
  font-weight: normal;
}

div.row p {
  font-size: 110%;
  padding: 0 20px;
  padding-bottom: 20px;
}

div.row .description {
  position: relative;
  flex: 1;
  margin-bottom: auto;
  overflow: hidden;
}

div.row .description .content {
  height: 0;
}

div.row .description .more {
  font-size: 120%;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: white;
  height: 2.5cm;
  box-sizing: border-box;
  padding-top: 1.75cm;
  padding-left: 20px;
  background: linear-gradient(
    to bottom,
    rgba(260, 260, 240, 0),
    rgba(260, 260, 240, 1) 72.5%
  );
  font-weight: bold;
  color: var(--db);
  z-index: 1;
}

div.row .description .more:hover {
  color: var(--df);
  text-shadow: 0 0 15px var(--l7);
}

div.row .price_book {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

div.row .price_book > div {
  display: inline-flex;
  background-color: var(--l6);
  box-shadow: 0 0 30px var(--l6);
  border-radius: 0.6cm;
  text-transform: uppercase;
}

div.row .book {
  display: flex;
  align-items: center;
  font-size: 105%;
  font-weight: bold;

  padding: 6px 12px;
  border-radius: 0.6cm;

  color: var(--l3);
  background-color: var(--d7);
  box-shadow: 0 0 20px var(--la);
}

div.row a.book:hover {
  color: var(--d0);
  background-color: var(--ld);
  box-shadow: 0 0 30px var(--ld);
}

div.row .price {
  padding: 6px 12px;
}

div.row .price > :first-child {
  font-size: 165%;
  font-weight: bold;
  color: var(--d3);
}

div.row .price > :nth-child(2) {
  font-size: 115%;
  color: var(--d5);
  vertical-align: top;
}

div.row .price > :last-child {
  font-size: 105%;
  color: var(--d7);
  vertical-align: top;
}

div.row code {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: var(--l4);
  color: var(--d0);
  font-weight: bold;
}

/*****************************************
******************************************
****************************************** SEE MORE
******************************************
*****************************************/

.all-benefits {
  width: 0;
  height: 0;
}

.all-benefits section {
  text-align: center;
}

.all-benefits section > a {
  background-color: var(--l0);
  box-shadow: none;
  margin-bottom: 0;
}

.all-benefits .back {
  position: relative;
  left: 28px;
}

.all-benefits div.row .description .content {
  height: initial;
}

.all-benefits div.row {
  min-width: 12.7cm;
  max-width: 15.1cm;
  width: initial;
  height: initial;

  margin-top: 8.8cm;
}

.all-benefits section:target div.row figure {
  position: absolute;
  top: 179px;
  left: 50%;
  transform: translateX(-50%);
}

.all-benefits div.row img {
  box-shadow: 0 0 30px var(--l9);
}

.all-benefits div.row figure,
.all-benefits div.row img {
  height: 7.5cm;
  width: 7.5cm;
}
